.chart{
    flex: 2;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    border-radius: 15px;
}

.chart-title{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6439ff;
    font-weight: 700;
    font-size: 25px;
}