.Form-widget{
    margin: 20px;
    padding: 30px;
    display: flex;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);

    .form-left{
        flex : 1;
    }

    .form-right{
        flex: 2;

        .form-main{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;

            .form-input{
                width: 40%;
                display: flex;
                flex-direction: column;
            }

            
            .form-label{
                margin-bottom: 5px;
            }

            .form-input-text{
                padding: 5px;
            }

            .form-input-select{
                padding: 5px;
            }

            button{
                margin-top: 30px;
                width: 20%;
                background-color: #6439ff;
                color: white;
                font-weight: 700;
                border: none;
                height: 40px;

                &:hover{
                    border: 1px solid #6439ff ;
                    color: #6439ff;
                    background-color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

    .form-title{
        color: #6439ff;
        margin-bottom: 30px;
    }

    .form-image{

        display: flex;
        align-items: center;
        justify-content: center;

        .img-form-con{

            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            .upload-icon-container{
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                bottom: 40%;
                text-align: center;


                .form-icon{
                    padding: 10px;
                    font-size: 30px !important;
                    border-radius: 50%;
                    background-color: rgba(0,0,0,0.3);

                    &:hover{
                        color: white;
                        cursor: pointer;
                        background-color: rgba(0,0,0,0.7);
                    }
                }
            }

            .img-form{
                object-fit: cover;
                width: 100%;
                height: 100%;

            }
        }
    }
}