.widget{
    display: flex;
    flex: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    border-radius: 10px;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        gap: 20px;

        .title{
            font-weight: 700;
            color: #6439ff;
        }

        .change-counter{
            font-weight: 700;
            font-size: 25px;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;

        .percentage{
            display: flex;
            align-items: center;
            justify-content: center;

            
        }

        .icon-con{
            display: flex;
            justify-content: flex-end;
        }

        .icon{
            padding: 4px;
            color: white;
            border-radius: 2px;
            font-size: 15px !important;
        }
    }
}