.featured{
    flex: 1;
    border-radius: 12px;
    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);

    .top{
        display: flex;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
        color: #6439ff;

        .title{
            font-size: 20px;
            font-weight: 600px;
        }
    }

    .bottom{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .featuredchart{
            width: 40%;
        }

        .title{
            font-weight: 600;
        }

        .amount{
            font-size: 25px;
            font-weight: 700;
            color: #6439ff;
        }

        .target{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}