.Navbar{
    height: 60px;
    top: 0;
    width: 100%;
    position: sticky;
    background-color: #fff;
    z-index: 2;
    display: flex;
    border-bottom: 0.5px solid rgb(230, 227, 227);

    .wrapper{
        width: 100%;
        height: 100%;
        margin: 0px 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            flex: 1;

            .search{
                width: 200px;
                padding: 5px;
                border: 1px solid #6439ff;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                outline: none;
            }

            .search-button{
                padding: 6px;
                font-weight: 700;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: #6439ff;
                color: white;
                border: none;

                &:hover{
                    color : #6439ff;
                    padding: 5px;
                    background-color: #fff;
                    border: 1px solid #6439ff;
                    border-left: none;
                    cursor: pointer;
                }
            }
        }

        .right{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .item{
                margin-right: 20px;
                color: #6439ff !important;
                position: relative;

                .counter{
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    color: white !important;
                    background-color: crimson;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 11px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }

            .profile-pic{
                width: 30px;
                border-radius: 50%;

                .pic{
                    object-fit: cover;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 50%;
                }
            }
        }
    }
}