.Sidebar{
    flex: 1.2;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    border-right: 0.5px solid rgb(230, 227, 227);
    box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.52);
    z-index: 15;
    .top{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: 700;
            color: #6439ff;
        }
    }

    hr{
        height: 0px;
        border: 0.5px solid rgb(230, 227, 227);
    }

    .bottom{
        padding : 20px 25px;

        .title{
            margin: 0px 5px;
            font-size: 13px;
        }


        .nav-lists {
            margin: 10px 0px;
            padding: 10px 0px 10px 5px;
            border-radius: 5px;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            // background-color: red;
            color: #6439ff !important;

            .nav-link{
                display: flex;
                align-items: center;
                text-decoration: none;
                width: 100%;
                height: 100%;
            }

            .nav-link-active{
                color: red !important;
            }

            &:hover{
                cursor: pointer;
                background-color: #6439ff;
                
                .icon{
                    color: white !important;
                }

                .nav-text{
                    color: white !important;
                }
            }

            .nav-text{
                font-size: 14px;
                margin-left: 10px;
                color: #888 !important;
            }
        }
    }


}