.single-page{
    display: flex;

    .single-container{
        flex: 7.5;

        .single-page{
            display: flex;
            padding: 20px;
            flex-direction: column;


            .single-top{
                display: flex;
                gap: 30px;
                padding: 20px;


                .single-topleft{
                    flex: 1;
                    padding: 20px;
                    box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
                    -webkit-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
                    -moz-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
                    position: relative;

                    .single-edit-btn{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 70px;
                        height: 30px;
                        border: 0.5px solid #eee;
                        cursor: pointer;
                        font-weight: 700;
                        color: black;
                        background-color: lightgreen;
                    }

                    .single-title{
                        margin-bottom: 20px;
                        font-size: 25px;
                        font-weight: 700;
                        color: #6439ff;

                    }

                    .single-item{
                        display: flex;
                        gap: 50px;

                        .item-img{
                            width: 160px;
                            height: 160px;
                            border-radius: 50%;
                            overflow: hidden;

                            .img-details{
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .single-item-details{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .single-item-name{
                                color: crimson;
                                font-weight: 700;
                            }

                            .details-map{

                                .item-key{
                                    font-weight: 700;
                                    color: #6439ff;
                                    margin-right: 9px;
                                }

                            }
                        }
                    }
                }

                .single-topright{
                    flex: 1.5;
                }
            }
        }
    }
}