.home{
    display: flex;

    .main-panel{
        flex: 7.5;

        .Widgets, .charts{
            display: flex;
            margin: 40px;
            gap: 20px;

        }

        .charts{
            padding: 5px;
        }

        .tablecontainer{
            margin: 40px;
            padding: 20px;
            box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
            -webkit-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
            -moz-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.35);
        }

        .table-title{
            font-weight: 700;
            color: #6439ff;
            margin-bottom: 15px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}